VITE_ROOTSTOCK_TESTNET_EXPLORER_URL=
VITE_ROOTSTOCK_TESTNET_RPC_URL=

VITE_APPKIT_PROJECT_ID=<YOUR_PROJECT_ID>

VITE_GAME_CONTRACT_ADDRESS=<YOUR_CONTRACT_ADDRESS>

VITE_ETHERSPOT_PROJECT_KEY=your_copied_api_key_here